# OS
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/

# Python
__pycache__/
*.pyc
.venv/
venv/

# C / C++
*.out
!problems/**/tests/*.out
*.exe
*.o
*.obj
*.a
*.so
*.dll
build/

# Rust
target/

# JavaScript
node_modules/
dist/
coverage/

# Misc
tmp/
temp/